div.detail_wrap {
  width:100%;
  height:auto;
  margin-bottom:30px;
}
div.product {
  width:90%;
  margin-left:4.5vw;
  text-align: center;
}
p.products_title {
  font:normal 4.5vw "Noto Sans KR";
  padding-top:20px;
  box-sizing: border-box;
  color:#034EA1;
}
p.products_img>img {
  width: 50%;
  padding-top:20px;
}
p.products_text {
  width:50%;
  margin:0px auto;
  /* background:red; */
  text-align: left;
  font:normal 3.5vw "Noto Sans KR";
  padding-top:20px;
  padding-bottom:30px;
}
div.detail_text {
  width:90%;
  height:auto;
  margin-left:4.5vw;
  margin-top:30px;
}
p.title {
  width:30vw;
  height:30px;
  font:bold 4vw/30px "Noto Sans KR";
  text-align: center;
  background:#034EA1;
  color:white;
  margin-bottom:10px;
}
p.text {
  font:normal 3.5vw/32px "Noto Sans KR";
  color:black;
  margin-bottom:30px;
}
ul.detail_list {
  width:100%;
  height: auto;
  text-align: center;
}
ul.detail_list>:nth-child(2) {
  margin-top:20px;
  margin-bottom:20px;
}
p.title01 {
  height:auto;
  font:normal 3.5vw/30px "Noto Sans KR";
  border-radius: 6px 6px 0px 0px;
  background:#D2ECFF;
}
p.text01 {
  height:auto;
  font:normal 3.5vw "Noto Sans KR";
  background: #D2ECFF;
}
p.title02 {
  height:auto;
  font:normal 3.5vw/30px "Noto Sans KR";
  border-radius: 6px 6px 0px 0px;
  background:#E7FBE5;
}
p.text02 {
  height:auto;
  font:normal 3.5vw "Noto Sans KR";
  background:#E7FBE5;
}
p.title03 {
  height:auto;
  font:normal 3.5vw/30px "Noto Sans KR";
  border-radius: 6px 6px 0px 0px;
  background:#E2D9F8;
}
p.text03 {
  height:auto;
  font:normal 3.5vw"Noto Sans KR";
  background: #E2D9F8;
}
p.img {
  padding-top:10px;
  padding-bottom:10px;
}





@media screen and (orientation:landscape) {
  p.products_title {
    font:normal 2.5vw "Noto Sans KR";
  }
  p.products_img>img {
    width:40%;
  }
  p.products_text {
    width:40%;
    font:normal 2vw "Noto Sans KR";
  }
  p.title {
    width:20vw;
    font-size:2.5vw;
  }
  p.text {
    font-size:2vw;
  }
  p.text>span {
    font-size:2.5vw;
  }
  p.title01 {
    font-size:2.5vw;
  }
  p.title02 {
    font-size:2.5vw;
  }
  p.title03 {
    font-size:2.5vw;
  }
  p.text01 {
    font-size:2.5vw;
  }
  p.text02 {
    font-size:2.5vw;
  }
  p.text03 {
    font-size:2.5vw;
  }


  
}