div#product_wrap {
  width:100%;
  height:300px;
  background:url('/public/images/product_visual_img02.png') no-repeat center;
}
div.top_menu {
  width:100%;
  height:45px;
  border-bottom :solid 1px #ECECEC;
  box-sizing: border-box;
}
section.menu {
  width:1200px;
  height:45px;
  margin:0px auto;
  display:flex;
}
p.homeimg {
  width:50px;
  height:45px;
  text-align: center;
  line-height: 45px;
  color:#494949;
  border-left:solid 1px #ECECEC;
  border-right :solid 1px #ECECEC;
  box-sizing: border-box;
}
p.menu_title {
  width:112px;
  height:45px;
  text-align:center;  
  font:normal 13px/45px "Noto Sans KR";
  color:black;
}
ul.menulist {
  width:172px;
  height:45px;
  border-left:solid 1px #ECECEC;
  border-right :solid 1px #ECECEC;
  font:normal 13px/45px "Noto Sans KR";
  color:black;
  overflow: hidden;
}
ul.menulist>li {
  padding-left:22px;
  border-left:solid 1px #ECECEC;
  border-right :solid 1px #ECECEC;
  border-bottom :solid 1px #ECECEC;
}
ul.menulist>li:nth-child(1) {
  border:none;
}
ul.menulist>li>span {
  margin-left:60px;
  color:#494949;
}
ul.menulist>li:hover {
  background:#D3E5F9;
}


